* {
    padding: 0;
    margin: 0;
}


h1 {
    color: white;
    background: pink;
    border: orange dotted 2px;
    padding: 25px;
    margin: 50px;
    text-align: center;
}



table {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

tr {
    padding: 100px;
    border: black;
    display: inline-block;
}

tr:nth-child(odd) {
    background-color: black;
}

tr:nth-child(even){
    background-color: white;
}

.white tr:nth-child(odd) {
    background-color: white;
}

.white tr:nth-child(even) {
    background-color: black;
}


@media screen and (max-width: 1639px) and (min-width: 835px) {
    tr {
        padding: 50px;
    }
}
@media screen and (max-width: 836px) and (min-width: 416px) {
    tr {
    padding: 25px;
    }
}

@media screen and (max-width: 450px) {
    tr {
        padding: 15px;
    }
}



/* #container {
   width: 1000px;
   height: 600px;
   margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: repeat(8, 100px);
    border: none;
}
div {
    border: solid black 2px;
} */


/* .grid div:nth-child(1),
div:nth-child(3), div:nth-child(5), div:nth-child(7),
div:nth-child(10), div:nth-child(12), div:nth-child(14),
div:nth-child(16), div:nth-child(17), div:nth-child(19), 
div:nth-child(21), div:nth-child(23), div:nth-child(26), 
div:nth-child(28), div:nth-child(30), div:nth-child(32),
div:nth-child(33), div:nth-child(35), div:nth-child(37),
div:nth-child(39), div:nth-child(42), div:nth-child(44),
div:nth-child(46), div:nth-child(48), div:nth-child(49),
div:nth-child(51), div:nth-child(53), div:nth-child(55),
div:nth-child(58), div:nth-child(60), div:nth-child(62),
div:nth-child(64) {
    background: black;
    
} */